<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FOCIS_2Go.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FOCIS_2Go.Properties.Settings>
            <setting name="ImportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="JobName" serializeAs="String">
                <value>Job</value>
            </setting>
            <setting name="End1Name" serializeAs="String">
                <value>End 1</value>
            </setting>
            <setting name="End2Name" serializeAs="String">
                <value>End 2</value>
            </setting>
            <setting name="CableName" serializeAs="String">
                <value>Cable</value>
            </setting>
            <setting name="End1Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceTypeSelection" serializeAs="String">
                <value>0</value>
            </setting>
        </FOCIS_2Go.Properties.Settings>
    </userSettings>
</configuration>