<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Noyes.TRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Noyes.TRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Noyes.TRM.Properties.Settings>
            <setting name="SaveAsConvertDialogStyle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowSaveAsStyleChooser" serializeAs="String">
                <value>False</value>
            </setting>
        </Noyes.TRM.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Noyes.TRM.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ImportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="JobName" serializeAs="String">
                <value>Job1</value>
            </setting>
            <setting name="End1Name" serializeAs="String">
                <value>Loc1</value>
            </setting>
            <setting name="End2Name" serializeAs="String">
                <value>Loc2</value>
            </setting>
            <setting name="CableName" serializeAs="String">
                <value>A1</value>
            </setting>
            <setting name="End1Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpirationWarningDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
        </Noyes.TRM.Properties.Settings>
    </userSettings>
</configuration>